.catalog-header {
  background-color: #f1f2f4;
}

.catalog-title {
  width: 272px;
  font-weight: bold;
  font-size: 32px;
  line-height: 40px;
  color: #151c22;
}

.breadcrumbs-item {
  margin-right: 30px;
  color: #727a82;
}

.breadcrumbs {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-current {
  color: inherit;
}

.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

/*HEADER*/

.catalog-header-wrapper {
  display: flex;
  align-items: flex-start;
}

.catalog-header-text-column {
  width: 370px;
  padding: 70px 0 70px 200px;
}

.catalog-header-img-column {
  width: 400px;
  padding: 0 50px 0 50px;
}

.catalog-header-img-column img {
  vertical-align: middle;
}

/* CATALOG*/

.catalog-list-compact {
  margin-right: -66px;
}

.catalog-list-compact .catalog-item {
  width: 243px;
  margin-bottom: 52px;
  margin-right: 66px;
}

.catalog-filters {
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #151c22;
  background-color: #ffffff;
  border: solid 2px #151c22;
  padding: 10px 20px 10px 20px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.catalog-slider {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catalog-slider-button {
  padding: 17px 60px 17px 60px;
  margin-top: 25px;
  margin-bottom: 100px;
}
